﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BBC Zoom Demo</h1>
    <p class="lead">This sample application is to demonstrate the zoom integration with Asp.Net MVC framework.</p>
    <p>
        @Html.ActionLink("Start meeting", "Index", new {controller = "Zoom"}, new {@class = "btn btn-primary btn-lg"})

    </p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Get started with meeting</h2>
        <p>
            Feature to attend zoom meeting with in the website.
            This feature is developed only for demo purpose.
        </p>
        <p>
            @Html.ActionLink("Start meeting", "Index", new {controller = "Zoom"}, new {@class = "btn btn-primary btn-lg"})
        </p>
    </div>
    <div class="col-md-6">
        <h2>Get started with webinar</h2>
        <p>
            Feature to attend zoom webinar with in the website.
            This feature is developed only for demo purpose.
        </p>
        <p>
            @Html.ActionLink("Start webinar", "Webinar", new {controller = "Zoom"}, new {@class = "btn btn-primary btn-lg"})

        </p>
    </div>
</div>
