﻿@model Demo.Zoom.Web.Models.ZoomConfigurationModel
@{
    ViewBag.Title = "Index";
}
@* Bootstrap form template : https://bootsnipp.com/snippets/nNZ47*@
<link href="~/Content/zoom.css" rel="stylesheet"/>
<div class="container-fluid">
    <div class="container">
        <div id="formMeeting" class="formBox">
            <form>
                <div class="row">
                    <div class="col-sm-12">
                        <h1>Join Meeting</h1>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox ">
                            <div class="inputText">Display Name</div>
                            <input type="text" name="display_name" id="display_name" class="input">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Meeting Number</div>
                            <input type="text" name="meeting_number" id="meeting_number" class="input">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <div class="inputBox">
                            <div class="inputText">Meeting Password</div>
                            <input type="text" name="meeting_pwd" id="meeting_pwd" class="input">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <label class="inputLabel">Meeting Role</label>
                        <div class="inputBox">

                            <select id="meeting_role" class="sdk-select">
                                <option value="0">Attendee</option>
                                <option value="1">Host</option>
                                <option value="5">Assistant</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <label class="inputLabel">Language</label>
                        <div class="inputBox">
                            <select id="meeting_lang" class="sdk-select">
                                <option value="en-US">English</option>
                                <option value="de-DE">German Deutsch</option>
                                <option value="es-ES">Spanish Español</option>
                                <option value="fr-FR">French Français</option>
                                <option value="jp-JP">Japanese 日本語</option>
                                <option value="pt-PT">Portuguese Portuguese</option>
                                <option value="ru-RU">Russian Русский</option>
                                <option value="zh-CN">Chinese 简体中文</option>
                                <option value="zh-TW">Chinese 繁体中文</option>
                                <option value="ko-KO">Korean 한국어</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary" id="join_meeting">Join</button>
                        <button type="submit" class="btn btn-primary" id="clear_all">Clear</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="https://source.zoom.us/1.9.5/lib/vendor/react.min.js"></script>
<script src="https://source.zoom.us/1.9.5/lib/vendor/react-dom.min.js"></script>
<script src="https://source.zoom.us/1.9.5/lib/vendor/redux.min.js"></script>
<script src="https://source.zoom.us/1.9.5/lib/vendor/redux-thunk.min.js"></script>
<script src="https://source.zoom.us/1.9.5/lib/vendor/lodash.min.js"></script>

<script src="https://source.zoom.us/zoom-meeting-1.9.5.min.js"></script>
<script src="~/Scripts/zoom/tool.js"></script>
<script src="~/Scripts/zoom/index.js"></script>
<script type="text/javascript">
    $(".input").focus(function() {
        $(this).parent().addClass("focus");
    });
    var API_KEY = '@Model.ApiKey';
    var API_SECRET = '@Model.ApiSecret';

    document.getElementById('join_meeting').addEventListener('click',
        function(e) {

            e.preventDefault();

            if (!this.form.checkValidity()) {
                alert("Enter Name and Meeting Number");
                return false;
            }

            //testTool.setCookie("meeting_number", meetConfig.meetingNumber);
            //testTool.setCookie("meeting_pwd", meetConfig.passWord);

            var meetConfig = {
                apiKey: API_KEY,
                apiSecret: API_SECRET,
                meetingNumber: parseInt(document.getElementById('meeting_number').value),
                userName: document.getElementById('display_name').value,
                passWord: document.getElementById('meeting_pwd').value,
                leaveUrl: '@Url.Action("Index", "Home")',
                role: parseInt(document.getElementById('meeting_role').value, 10)
            };

            GetSignature(meetConfig.meetingNumber, meetConfig.role).then(function(data) {
                //console.log(data);
                JoinMeeting(meetConfig, data.result);
            });

        });

    document.getElementById('clear_all').addEventListener('click',
        function(e) {
            testTool.deleteAllCookies();
            document.getElementById('display_name').value = '';
            document.getElementById('meeting_number').value = '';
            document.getElementById('meeting_pwd').value = '';
            document.getElementById('meeting_lang').value = 'en-US';
            document.getElementById('meeting_role').value = 0;
        });

    function GetSignature(meetingId, roleId) {
        return $.ajax({
            url: '@Url.Action("GetSignature", "Zoom")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: { 'meetingId': meetingId, 'roleId': roleId }
        });
    }

    function JoinMeeting(meetConfig, signature) {
        //console.log('meetConfig', meetConfig);
        //console.log('signature', signature);

        ZoomMtg.init({
            leaveUrl: '@Url.Action("ThankYou", "Home")',
            success: function() {
                ZoomMtg.join(
                    {
                        meetingNumber: meetConfig.meetingNumber,
                        userName: meetConfig.userName,
                        signature: signature,
                        apiKey: meetConfig.apiKey,
                        passWord: meetConfig.passWord,
                        success: function(res) {
                            // $('#nav-tool').hide();
                            console.log('join meeting success');
                        },
                        error: function(res) {
                            console.log(res);
                        }
                    }
                );
            },
            error: function(res) {
                console.log(res);
            }
        });
    }
</script>