﻿@model  Zoom.Demo.Entity.WebinarDetailEntity
<li class="col-sm-6 col-md-4">
    <span itemscope="" itemtype="#">
        <div class="webinar-box box-type1">
            <div class="content clearfix">
                <h4>
                    <a href="#">@Model.Topic</a>
                </h4>
                <p>
                    <span class="block">
                        <span class="glyphicon glyphicon-calendar"></span> @Model.StartTime.ToString("ddd, dd MMMM yyyy")</span>
                    <span class="block"><span class="glyphicon glyphicon-time"> </span> @Model.StartTime.ToString("hh:mm tt") - @Model.StartTime.AddMinutes(Model.Duration).ToString("hh:mm tt")</span>
                @if (!string.IsNullOrEmpty(Model.RegistrationURL))
                {
                    <span class="block" id="partClick-@Model.id">
                        <span class="glyphicon glyphicon-user"></span>
                        @Model.Registrants.Count
                    </span>
                }
                </p>
                @if (Model.Registrants.Count > 0)
                {
                    <ul id="participant-@Model.id" class="list-group" style="display: none">
                        @foreach (var registrant in Model.Registrants)
                        {
                            <li class="list-group-item">@registrant.FirstName @registrant.LastName</li>
                        }
                    </ul>
                }
                <!-- Box Footer -->
                <footer>
                    <div class="webinar-author-info clearfix">
                        <div class="details m_L0">

                            @if (!string.IsNullOrEmpty(Model.Agenda))
                            {
                                <h5 class="mT0">Agenda </h5>
                                <p class="pB3"> @Model.Agenda</p>
                            }
                            else
                            {
                                <h5 class="mT0">Louise Kattenhorn </h5>
                                <p class="pB3"> BBC Sounds Commissioner</p>
                            }
                            @if (!string.IsNullOrEmpty(Model.Settings.ContactName))
                            {
                                <h5 class="mT0">@Model.Settings.ContactName </h5>
                                <p class="pB3"> @Model.Settings.ContactEmail</p>
                            }
                        </div>
                    </div>
                    <div class="multiple-speaker-ink"></div>
                    <button type="submit" class="btn btn-primary newBtn" onclick="join_click(@Model.id, 'Gagan', @Model.Password, 0, 'gagandeep.singh@bbc.com')" id="join_meeting">Join</button>

                    @if (!string.IsNullOrEmpty(Model.RegistrationURL))
                    {
                        <a class="btn btn-danger newBtn" href='@Model.RegistrationURL' target="_blank">Register</a>
                    }
                </footer>
                <!-- /Box Footer -->
            </div>
        </div>
    </span>
</li>
