﻿@model Zoom.Demo.Entity.UserWebinars
@{
    ViewBag.Title = "Index";
}

<link href="~/Content/meetings.css" rel="stylesheet"/>

<div class="row">
    <div class="col-md-12">
        <!-- Nav tabs -->
        <div class="card">
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="day1">
                    <section class="webinar-listing-section">
                        <div id="upcoming-webinars" class="webinar-listing content-block-extra">
                            <h2 class="metting-title"> Webinars </h2>
                            <div class="slider webinar-slider">
                                <div class="row">
                                    <ul class="webinar-slider-list">
                                        @foreach (var webinar in Model.Webinars)
                                        {
                                            @Html.Partial("_WebinarWidget", webinar)
                                            ;
                                        }

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://source.zoom.us/1.7.9/lib/vendor/react.min.js"></script>
<script src="https://source.zoom.us/1.7.9/lib/vendor/react-dom.min.js"></script>
<script src="https://source.zoom.us/1.7.9/lib/vendor/redux.min.js"></script>
<script src="https://source.zoom.us/1.7.9/lib/vendor/redux-thunk.min.js"></script>
<script src="https://source.zoom.us/1.7.9/lib/vendor/jquery.min.js"></script>
<script src="https://source.zoom.us/1.7.9/lib/vendor/lodash.min.js"></script>

<script src="https://source.zoom.us/zoom-meeting-1.7.9.min.js"></script>
<script src="~/Scripts/zoom/tool.js"></script>
<script src="~/Scripts/zoom/index.js"></script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript">
    $(".input").focus(function() {
        $(this).parent().addClass("focus");
    });
    var API_KEY = "api-key";
    var API_SECRET = "api-secret";

    function join_click(meetingId, userName, meetingPassword, role, userEmail) {
        var meetConfig = {
            apiKey: API_KEY,
            apiSecret: API_SECRET,
            meetingNumber: parseInt(meetingId),
            userName: userName,
            passWord: meetingPassword,
            userEmail: userEmail,
            leaveUrl: '@Url.Action("Index", "Home")',
            role: parseInt(role)
        };

        GetSignature(meetConfig.meetingNumber, meetConfig.role).then(function(data) {
            console.log(data);
            JoinMeeting(meetConfig, data.result);
        });
    }

    function GetSignature(meetingId, roleId) {
        return $.ajax({
            url: '@Url.Action("GetSignature", "Zoom")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: { 'meetingId': meetingId, 'roleId': roleId }
        });
    }

    function JoinMeeting(meetConfig, signature) {
        //console.log('meetConfig', meetConfig);
        //console.log('signature', signature);

        ZoomMtg.init({
            leaveUrl: '@Url.Action("ThankYou", "Home")',
            success: function() {
                ZoomMtg.join(
                    {
                        meetingNumber: meetConfig.meetingNumber,
                        userName: meetConfig.userName,
                        userEmail: meetConfig.userEmail,
                        signature: signature,
                        apiKey: meetConfig.apiKey,
                        passWord: meetConfig.passWord,
                        success: function(res) {
                            // $('#nav-tool').hide();
                            console.log('join meeting success');
                        },
                        error: function(res) {
                            console.log(res);
                        }
                    }
                );
            },
            error: function(res) {
                console.log(res);
            }
        });
    }

    $('[id^="partClick-"]').click(function(e) {
        e.preventDefault();
       
        var id = this.id.substring('partClick-'.length, this.id.length);
        var target = $("#participant-"+id);
       
        if (target.is(':visible')) {
            target.attr("style", "display:none");
        } else {
            target.attr("style", "display:block");
        }
    });

   
</script>

