﻿#zmmtg-root {
    height: auto;
    width: auto;
}

.ant-message { margin-top: 50px !important; }

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h1.day-banner-text {
    text-align: center;
    margin-top: 130px;
    font-size: 44px;
}

.webinar-listing-section .webinar-box { margin-bottom: 16px; }

.webinar-listing-section .webinar-box.code-learn .content { padding-bottom: 45px; }

.webinar-listing-section .content-block-extra { margin-bottom: 24px; }

.webinar-listing-section #knowledge-webinars h2 { margin-bottom: 4px; }

.webinar-listing h2 .action-lnk {
    padding-top: 8px;
    color: #321543;
}

.webinar-listing ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

/*--- meeting Box --- */

.webinar-box {
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12);
    border-radius: 6px;
    background: #fff;
}

.webinar-box .webinar-banner {
    position: relative;
    padding: 16px 16px 28px 16px;
    height: 124px;
}

.webinar-box .webinar-banner .banner-bg {
    position: absolute;
    width: 100%;
    height: 124px;
    background-image: url(images/tg_images_new/webinar-dummy-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    left: 0px;
    top: 0px;
    border-radius: 6px 6px 0px 0px;
    filter: grayscale(100%);
}

.webinar-box .webinar-banner .overlay {
    background: #2d1846;
    opacity: 0.7;
    position: absolute;
    left: 0px;
    top: 0px;
    border-radius: 6px 6px 0px 0px;
    width: 100%;
    height: 124px;
}

.webinar-box .webinar-banner .inner { position: relative; }

.webinar-box .webinar-banner .inner h4 a { color: #fff; }

.webinar-box .webinar-banner .inner h4:hover a { color: #d7263d; }

.webinar-box .content { padding: 16px; }

.webinar-box.code-learn .content { padding-bottom: 0; }

.webinar-box .content footer {
    border-top: 1px solid #dadada;
    margin-top: 16px;
    padding-top: 12px;
}

.webinar-box h4 {
    font-size: 16px;
    line-height: 22px;
}

.webinar-box h3 {
    margin-bottom: 10px;
    line-height: 24px;
}

.webinar-box h3 a { color: #19171a; }

.webinar-box h3:hover a { color: #d7263d; }

.webinar-box p {
    margin: 0px;
    background: #fff;
}

.webinar-box .block {
    margin: 0px;
    margin-right: 8px;
    font-size: 12px;
    color: #8a858d;
    line-height: 13px;
}

.webinar-box .block .icon {
    width: 18px;
    height: 18px;
    margin-right: 4px;
    display: inline-block;
    background-image: url(images/tg_images_new/sprites.svg);
    background-repeat: -no-repeat;
    vertical-align: text-bottom;
}

.webinar-box .block .icon.view-icon { background-position: -118px -309px; }

.webinar-box .block .icon.time-icon { background-position: -169px -407px; }

.webinar-box .block .icon.calender-icon { background-position: -112px -407px; }

.webinar-box .block .icon.user-icon { background-position: -196px -407px; }

.webinar-box .block .icon.like-icon-small { background-position: -226px -407px; }

.webinar-box .block .icon.count-icon { background-position: -55px -407px; }

.webinar-box .block .icon.video-icon { background-position: -337px -406px }

.webinar-box .block {
    margin: 0px;
    margin-right: 5px;
    font-size: 12px;
    color: #8a858d;
}

.webinar-box .block:last-child { margin-right: 0px; }

.webinar-box .btn { min-width: 156px; }

.webinar-box .multiple-speaker-ink { margin-bottom: 12px; }

.webinar-box .multiple-speaker-ink p { text-decoration: underline; }

.webinar-box .multiple-speaker-ink p:hover { color: #19171A; }

.webinar-box.box-type1 .multiple-speaker-ink {
    margin-bottom: 16px;
    min-height: 20px;
}

.webinar-box.box-type1 .webinar-author-info {
    margin-bottom: 8px;
    height: 110px;
    overflow: hidden;
}

.webinar-box.box-type1 .button1 { line-height: 19px; }

.webinar-box.box-type1 h4 {
    margin-bottom: 24px;
    height: 44px;
    overflow: hidden;
}

.webinar-box.box-type1 h4 a {
    color: #4a4548;
    text-decoration: none;
}

.webinar-box.box-type1 h4:hover a { color: #d7263d; }

.webinar-box.box-type1 h4.keypoints {
    font-size: 18px;
    height: auto;
    overflow: visible;
    margin-bottom: 12px;
}

.webinar-box.box-type2 .webinar-author-info {
    height: 95px;
    margin-bottom: 8px;
}

.webinar-box.box-type2 .multiple-speaker-ink .webinar-author-info {
    height: auto;
    margin: 0px;
}

.webinar-box.box-type2 .multiple-speaker-ink {
    min-height: 20px;
    margin-bottom: 0px;
}

.webinar-box.box-type3 .inner {
    height: 102px;
    padding-bottom: 12px;
}

.webinar-box.box-type3 footer { margin-top: 13px; }

.engage-box1 p.primary, p {
    font-size: 14px;
    color: #4A4548;
    line-height: 20px;
    margin-bottom: 16px;
}

p a { color: #d7263d; }

p a:hover, p a:focus { color: #d7263d; }

label.nobold { font-weight: normal; }

body {
    font-size: 14px;
    line-height: 1.4;
    overflow-x: hidden;
    background: #e8e8e8 !important;
}

section p {
    font-family: font-family:'ReithSansRegular' !important;
    font-size: 1.4rem;
    padding-left: 0.2rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #ffffff;
    padding-bottom: 10px;
}

webinar-author-info .details { margin-left: 48px; }

.webinars_heading {
    font-size: 36px;
    color: white;
    text-align: center;
    margin-top: 30px;
}

.heading_paragraph {
    color: white;
    padding-left: 80px;
}

.webinar-author-info figure {
    float: left;
    width: 40px;
    height: 40px;
}

.webinar-author-info figure img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.webinar-author-info .details p .company {
    display: block;
    color: #8a858d;
    margin-top: 4px;
    font-size: 12px;
    line-height: 16px;
}

.webinar-author-info .details h5 { margin-bottom: 2px; }

h5 {
    font-size: 14px;
    line-height: 20px;
    color: #19171A;
    font-weight: 600;
}

.details > p { color: #000; }

.live-meeting { color: #0C6 !important; }

.webinar_img { height: 18px; }

.event-day-banner {
    padding: 15px;
    background-color: #222;
    color: white;
}

.meeting-title {
    color: #e71c37;
    padding-left: 16px;
}

.mT0 { margin-top: 0px; }

.pB3 {
    padding-bottom: 3px;
    font-weight: lighter !important;
    font-size: 1em;
}

.m_L0 { margin-left: 0px; }

/*--------Tabs and heading-----------------*/

.padding-50 { padding: 60px 0px 30px 0px; }

.gray { background: #f6f6f6; }

h2.title-style01 {
    text-transform: uppercase !important;
    font-weight: bold;
    letter-spacing: 2px;
    color: #222;
    font-size: 34px;
    text-align: center;
}

.color_red { color: #e71c37; }

.heading_space {
    line-height: 24px;
    color: #000000;
}

p { font-size: 14px; }

.pt-40 { padding: 40px 0 0 0; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background-color: #e71c37;
    color: #FFF;
}

.nav-tabs > li > a { padding: 10px 100px; }

.nav-tabs a {
    border: none;
    border-radius: 6px;
    font-weight: 600;
    background-color: #3B1759;
    color: #fff;
}

.nav-tabs { border-bottom: none; }

.nav-tabs { border-bottom: none; }

/*-------------------------*/

/*contact Us footer start*/

footer.nb-footer .about {
    margin: 0 auto;
    margin-top: 40px;
    max-width: 1170px;
    text-align: center;
}

footer.nb-footer .about p {
    font-size: 13px;
    color: #999;
    margin-top: 30px;
}

footer.nb-footer .footer-info-single {
    padding-top: 0px;
    padding-bottom: 20px;
}

footer.nb-footer .footer-info-single .title {
    color: #aaa;
    text-transform: uppercase;
    font-size: 16px;
    border-left: 4px solid #b78c33;
    padding-left: 10px;
}

footer.nb-footer .footer-info-single ul li a {
    display: block;
    color: #aaa;
    padding: 2px 0;
}

footer.nb-footer .footer-info-single ul li a:hover { color: #b78c33; }

footer.nb-footer .footer-info-single p {
    font-size: 13px;
    line-height: 20px;
    color: #aaa;
}

.margin-TB20 { padding: 20px 0px; }

.contact-bg { background: #222 !important; }

.contact_heading {
    text-align: center;
    color: #FFF;
}

/*----contact Us  footer CSS end----*/

/*event schedule button*/

.event_btn {
    padding: 10px 30px;
    border-radius: 3px;
    text-align: center;
}

.creator_day {
    font-weight: bold;
    padding-right: 10px;
}

.pR5 { padding-right: 5px; }

ul.webinar-slider-list li footer a.btn-warning.newBtn { background-color: #c4302b; }

ul.webinar-slider-list li footer a:hover.btn-warning.newBtn { background-color: #e4342e; }