﻿body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.loading-layer { display: none; }

.formBox {
    margin-top: 90px;
    padding: 50px;
}

.formBox h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 35px;
}

.inputBox {
    position: relative;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.inputBox .inputText {
    position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}

.inputLabel {
    font-size: 24px;
    font-weight: normal;
    transition: .5s;
    opacity: .5;
}

.inputBox .input {
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    outline: none !important;
}

.focus .inputText {
    transform: translateY(-30px);
    font-size: 18px;
    opacity: 1;
    /*color: #00bcd4;*/
}


.button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: #03A9F4;
    color: #fff;
}

.sdk-select {
    height: 34px;
    border-radius: 4px;
}

input[type=text]:focus { outline: none !important; }


#zmmtg-root {
    height: auto;
    width: auto;
}